
@{
    ViewBag.Title = "CostOfOwnerShip";
}


<div class="form-horizontal my-3">
    <div class="container">
        <div id="divPartial">
            @Html.Action("UserHeader", "FHFile")
        </div>
        <div class="blink_heading">
            <h4>Cost of Ownership</h4>
            <input type="button" name="activate" id="btnReactivate" value="Reactivate"
                   onclick="window.location.href='@Url.Action("StartMyFreeMonth","User",new { token=(string)ViewBag.token})'" class="btn btn-info" style="float:right;" />
        </div>
        <hr />
        <div class="form-group">
            <div class="bg-white p-3 border w-100 float-left">
                <div class="text-center">
                    <div id="divUserList">
                        @Html.Action("CostOfOwnershipList", "Report")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal ---- To show the Pop Up on page load -->
<input type="button" id="btnShowDataActivation" style="width: 100px;" value="" class="d-none" data-toggle="modal" data-target="#myModalActivation" />
<div class="modal" id="myModalActivation">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-body" id="modelbodydataActivation">
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnexport').click(function (e) {
        if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) //IF IE > 10
        {
            Response.AddHeader("Content-Disposition", "attachment;filename=FilterExport.xls");
        }
        var a = document.createElement('a');
        var data_type = 'data:application/vnd.ms-excel';
        a.href = data_type + ', ' + encodeURIComponent($('#divUserList').html());
        a.download = 'CostofOwnerShipReport.xls';
        a.click();
        e.preventDefault();
        return (a);
    });

    $('#btnReactivate').hide();
     var compare_dates = function (edate1, cdate2) {
        if (edate1 < cdate2)
            return true;
        else {
            return false;
        }
    }

    $(document).ready(function () {
        debugger;
        /////To show the Pop Up on page load
        var edate = '@ViewBag.ExpireDate';
        var cdate = '@DateTime.Today.Date.ToShortDateString()';

        if (edate != "") {
            if (compare_dates(new Date(edate), new Date(cdate)) == true) {
                @*$('#modelbodydataActivation').load('@Url.Action("ExipreActivation", "Report", new { token = Request.QueryString["token"] })');
                $('#btnShowDataActivation').click();*@
                $('#btnReactivate').show();
            }
        }
    });


</script>