<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body class="bg-light">
    <section class="header-top w-100 float-left">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 float-left">
                <span class="text-white d-block float-left py-2">Help Line No. <i class="fa fa-phone"></i><small> 120 -20132582</small></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 float-left">
                <div class="smo-top">
                    <ul class="p-0 m-0">
                        <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-facebook"></i></a></li>
                        <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-twitter"></i></a></li>
                        <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-linkedin"></i></a></li>
                        <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 float-left">
                <ul class="m-0 p-0 float-right login-top">
                    <li class="d-block py-2 float-left">
                        <a href='@Url.Action("SignIn","Account")' class="d-block px-2 border-right text-white"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li class="d-block py-2 float-left"><a href='@Url.Action("SignUp","Account")' class="d-block px-2 text-white"><i class="fa fa-sign-out"></i> Register</a></li>
                </ul>
</div>

            </div>
</section>
    <header class="header w-100 float-left">
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                <div class="logo">
                    <img src="~/images/logo.png" title="logo" />
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 float-left">
                <nav class="mt-4 pt-3">
                    <ul class="p-0 m-0 float-right">
                        <li class="float-left d-block mr-1">
                            @Html.ActionLink("Home", "Index", "Home",null, new { @class = "d-block py-1 px-3 active" })
                        </li>
                        <li class="float-left d-block mr-1">
                            @Html.ActionLink("About", "About", "Home",null, new { @class = "d-block py-1 px-3 " })
                        </li>
                        <li class="float-left d-block mr-1">
                            @Html.ActionLink("Contact", "Contact", "Home",null, new { @class = "d-block py-1 px-3" })
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="banner w-100 table-active float-left py-1">
        <div class="container">
            <div class="banner-inner bg-white">
                <img src="~/images/banner-tall.jpg" alt="banner" class="w-100 border" />
            </div>
        </div>
    </section>
    <section class="content w-100 float-left py-1">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer class="footer w-100 float-left bg-dark">
        <div class="container">
            <div class="p-4 text-white text-center">
                Copyright © 2018 <a href="http://test.fileharmonizer.com/" class="text-white">File Harmonizer</a>. All Rights Reserved.
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
