<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link href="~/Content/mainStyle_v_1.0.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body class="bg-light">
    <div class="header_main">
        <section class="top_header">
            <div class="container clearfix">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left ">
                        <div class="phone_nu">
                            <div class="phone_nu_ico">
                                <i class="la la-phone"></i>
                            </div>
                            Help Line No.
                            <span>1-513-445-4954</span>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12 float-right spcl">

                        <div class="user_btn">
                            <ul>
                                @if (Session["UserID"] != null)
                                {
                                    <li>
                                        <a class="login_btn"><i class="la la-user"></i> <span id="lblloginUser"></span></a>
                                    </li>
                                    <li>
                                        <a class="reg_btn" href='@Url.Action("Logout", "Account")'><i class="la la-power-off"></i> Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="login_btn" href='@Url.Action("SignIn", "Account")'><i class="la la-key"></i> Login</a>
                                    </li>
                                    <li><a href='@Url.Action("SignUp", "Account")' class="reg_btn"><i class="la la-user"></i> Register</a></li>
                                }
                            </ul>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="float-left d-block p-1"><a href='@Url.Action("Help","Home")' title="Help"><i class="fa fa-question"></i></a></li>
                                <li class="float-left d-block p-1"><a href='#'><i class="fa fa-pinterest-p"></i></a></li>

                                <li class="float-left d-block p-1"><a href="https://www.facebook.com/Fileharmonizer-283020212272663/?modal=admin_todo_tour"><i class="fa fa fa-facebook"></i></a></li>
                                <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-twitter"></i></a></li>
                                <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-linkedin"></i></a></li>
                                <li class="float-left d-block p-1"><a href="https://plus.google.com/u/0/101166263494075105321"><i class="fa fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <header class="header w-100 float-left">
            <div id="header-toggle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12 float-left">
                            <div class="logo">
                                <img src="~/images/NewLogo.png" title="logo" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-12 col-12 float-left">
                            <br style="clear:both;" />

                            <nav class="navbar navbar-expand-lg float-right secondary-menu">
                                <a class="navbar-brand d-sm-block d-md-none d-lg-none" href="#" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Menu</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="fa fa-bars"></span>
                                </button>
                                @if (Session["UserID"] != null)
                                {
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="float-left d-block mr-1">
                                                @Html.ActionLink("Home", "Index", "Home", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                            </li>
                                            <li class="float-left d-block mr-1">
                                                @Html.ActionLink("About", "About", "Home", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2 " })
                                            </li>
                                            <li class="float-left d-block mr-1">
                                                @Html.ActionLink("Contact", "Contact", "Home", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                            </li>
                                            <li class="nav-item dropdown d-none">
                                                <a class="nav-link dropdown-toggle d-block py-1 px-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Filter
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    @if (TempData["expiredate"] != null && Convert.ToDateTime(TempData["expiredate"]) > DateTime.Now)
                                                    {
                                                        @Html.ActionLink("Create Filter", "FilterTemplate", "FHFile", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    }
                                                    @Html.ActionLink("Maintain Filters", "ManageFilter", "FHManage", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    @Html.ActionLink("Maintain Tag", "ManageTag", "FHFile", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                </div>
                                            </li>

                                            <li class="nav-item dropdown d-none">
                                                <a class="nav-link dropdown-toggle d-block py-1 px-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Template
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    @if (TempData["expiredate"] != null && Convert.ToDateTime(TempData["expiredate"]) > DateTime.Now)
                                                    {
                                                        @Html.ActionLink("Create Template", "Individual", "FHFile", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    }

                                                    @Html.ActionLink("Maintain Templates", "ManageTemplate", "FHManage", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    @Html.ActionLink("Harmonize Templates", "HarmonizeTemplate", "FHManage", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                </div>
                                            </li>



                                            <li class="nav-item dropdown d-none">
                                                <a class="nav-link dropdown-toggle d-block py-1 px-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Harmonized
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    @Html.ActionLink("Harmonize Template", "HarmonizeTemplate", "FHManage", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2 dropdown-item" })
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown d-none">
                                                <a class="nav-link dropdown-toggle d-block py-1 px-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Mannage Scheme
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    @if (TempData["expiredate"] != null && Convert.ToDateTime(TempData["expiredate"]) > DateTime.Now)
                                                    {
                                                        @Html.ActionLink("Create Scheme", "CreateScheme", "Scheme", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    }

                                                    @Html.ActionLink("Maintaine Scheme", "MaintainScheme", "Scheme", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    @Html.ActionLink("Archives", "Archive", "Scheme", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                </div>
                                            </li>
                                           *@
                                            <li class="nav-item dropdown d-none">
                                                <a class="nav-link dropdown-toggle d-block py-1 px-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Mannage Account
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    @Html.ActionLink("Profile", "UserProfile", "User", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    @Html.ActionLink("QR Code", "QRCode", "FHFile", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    @Html.ActionLink("Archives", "Archive", "User", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    @Html.ActionLink("Account Settings", "FHAccountSetting", "User", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    @if (Convert.ToInt32(Session["Role"]) == 5)
                                                    {
                                                        @Html.ActionLink("Maintain Users", "ManageUser", "User", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    }
                                                    @Html.ActionLink("Maintain Custom Tag", "MaintainCustomTag", "User", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                </div>
                                            </li>
                                            @if (Convert.ToInt32(Session["Role"]) == 1 || Convert.ToInt32(Session["Role"]) == 4 || Convert.ToInt32(Session["Role"]) == 3 || Convert.ToInt32(Session["Role"]) == 7)
                                            {
                                                <li class="nav-item dropdown d-none">
                                                    <a class="nav-link dropdown-toggle d-block py-1 px-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Admin
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        @if (Convert.ToInt32(Session["Role"]) == 1)
                                                        {
                                                            @Html.ActionLink("Maintain Admin User", "ManageAdminUser", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        }
                                                        @Html.ActionLink("Maintain User", "ManageAllUser", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Globle Sta. Tag", "StandardGlobalTag", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Country", "Country", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Sector", "sector", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Industry", "Industry", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Category", "Category", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Language", "Language", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Maintain Plan", "GetAllPlan", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                        @Html.ActionLink("Transaction Details", "GetPaymentDetails", "Admin", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="float-left d-block mr-1">
                                                @Html.ActionLink("Home", "Index", "Home", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                            </li>
                                            <li class="float-left d-block mr-1">
                                                @Html.ActionLink("About", "About", "Home", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2 " })
                                            </li>
                                            <li class="float-left d-block mr-1">
                                                @Html.ActionLink("Contact", "Contact", "Home", new { token = Request.QueryString["token"] }, new { @class = "d-block py-1 px-2" })
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="position-absolute header-toggle"><i class="fa fa-plus">Menu</i> <i class="fa fa-minus">Menu</i> </div>*@
        </header>
    </div>

    <section class="content w-100 float-left">
        @RenderBody()
    </section>

    <footer class="footer w-100 float-left bg-dark" style="margin-top:15px; padding-top:25px;">
        <div class="container">
            <div class="row mt-4 mb-5">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="f_heading">
                        About File Harmonizer
                    </div>
                    <p>
                        File Harmonizer, Inc is headquartered in Cincinnati, Ohio.  The company serves a nitch market for developing software tools, that helps industry and individuals reuse intellectual property.
                    </p>
                    <p>
                        With over nineteen years of experience in adapting and blending File Harmonizer tools within various phases of leading industry methodologies from blueprint to the deployment of complex systems, we realize that when using a global approach, to manage and reuse objects (i.e., build scripts, code, component documents, designs, functional specifications,
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="f_heading">
                        Quick Links
                    </div>
                    <div class="row">
                        <div class="col-md-6 footer_link">
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home", new { token = Request.QueryString["token"] }, new { @class = "" })</li>
                                <li>@Html.ActionLink("About", "About", "Home", new { token = Request.QueryString["token"] }, new { @class = "" })</li>
                                <li> @Html.ActionLink("Contact", "Contact", "Home", new { token = Request.QueryString["token"] }, new { @class = "" })</li>
                                @if (Session["UserID"] != null)
                                {
                                    <li><a href='@Url.Action("Logout", "Account")'>Logout</a></li>
                                }
                                else
                                {
                                    <li><a href='@Url.Action("SignIn", "Account")'>Login</a></li>
                                    <li><a href='@Url.Action("SignUp", "Account")'>Register</a></li>
                                }

                            </ul>
                        </div>
                        <div class="col-md-6 footer_link">
                            <ul>
                                @if (TempData["expiredate"] != null && Convert.ToDateTime(TempData["expiredate"]) > DateTime.Now)
                                {
                                    <li>@Html.ActionLink("Create Filter", "FilterTemplate", "FHFile", new { token = Request.QueryString["token"] }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Create Template", "Individual", "FHFile", new { token = Request.QueryString["token"] }, new { @class = "" })</li>
                                }

                                <li>@Html.ActionLink("Maintaine Scheme", "MaintainScheme", "Scheme", new { token = Request.QueryString["token"] }, new { @class = "" }) </li>
                                <li>@Html.ActionLink("Harmonize Templates", "HarmonizeTemplate", "FHManage", new { token = Request.QueryString["token"] }, new { @class = "" })</li>
                                <li>@Html.ActionLink("Archives", "Archive", "Scheme", new { token = Request.QueryString["token"] }, new { @class = "" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="f_heading">
                        Follow us on
                    </div>
                    <div class="social2">
                        <ul>
                            <li class="float-left d-block p-1"><a href='#'><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="float-left d-block p-1"><a href="https://www.facebook.com/Fileharmonizer-283020212272663/?modal=admin_todo_tour"><i class="fa fa fa-facebook"></i></a></li>
                            <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-twitter"></i></a></li>
                            <li class="float-left d-block p-1"><a href="#"><i class="fa fa fa-linkedin"></i></a></li>
                            <li class="float-left d-block p-1"><a href="https://plus.google.com/u/0/101166263494075105321"><i class="fa fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="f_add clearfix">
                        <div class="l_icon">
                            <i class="la la-map-marker"></i>
                        </div>
                        <span>
                            2692 Madison Rd Ste N1-203<br />
                            Cincinnati, OH 45208
                            United States
                        </span>
                    </div>
                    <div class="f_add clearfix">
                        <div class="l_icon">
                            <i class="la la-phone"></i>
                        </div>
                        <span>
                            1-513-445-4954
                        </span>
                    </div>
                    <div class="f_add clearfix">
                        <div class="l_icon">
                            <i class="la la-envelope "></i>
                        </div>
                        <span>
                            contact@fileharmonizer.com
                        </span>
                    </div>
                </div>
            </div>


            <div class="footer_bottom">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">Copyright © 2018 <a href="https://fileharmonizer.com/" class="text-white">File Harmonizer</a>. All Rights Reserved.</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text_align">
                        <a href='@Url.Action("TermAndCondition","Home",new { token = Request.QueryString["token"] })'>Terms &amp; Conditions</a> |
                        <a href='@Url.Action("PrivacyPolicy","Home",new { token = Request.QueryString["token"] })'>Privacy Policy</a> |
                        <a href='@Url.Action("Disclaimer","Home",new { token = Request.QueryString["token"] })'>Disclaimer</a> |
                        <a href='@Url.Action("ReturnPolicy","Home",new { token = Request.QueryString["token"] })'>Return Policy</a>
                    </div>
                </div>



            </div>


        </div>
    </footer>


    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.3/jquery.floatThead.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <!-- Default Statcounter code for File Harmonizer http://www.fileharmonizer.com -->
    <script type="text/javascript">
        var sc_project = 12027958;
        var sc_invisible = 0;
        var sc_security = "3c69b891";
        var sc_https = 1;
        var scJsHost = "https://";
        document.write("<sc" + "ript type='text/javascript' src='" + scJsHost +
            "statcounter.com/counter/counter.js'></" + "script>");
    </script>
    <noscript>
        <div class="statcounter">
            <a title="Web Analytics" href="https://statcounter.com/" target="_blank">
                <img class="statcounter" src="https://c.statcounter.com/12027958/0/3c69b891/0/" alt="WebAnalytics">
            </a>
        </div>
    </noscript>
    <!-- End of Statcounter Code -->
</body>
</html>
<script>
    // Stop back from browser
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
    //End

    $(document).ready(function () {
        $(document).on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });

        //var bodyEle = document.body;
        //bodyEle.scrollTop += 100;
        //var html = document.documentElement;
        //html.scrollTop += 100;
        //scroll(50);
        var userID = '@Session["UserID"]';
        if (userID != '') {
            $('li').removeClass('d-none');
            $('li').addClass('d-block');
            $('#lblloginUser').text(userID);
        }
        //$(".sticky-header").floatThead({ top: 50 });

        // toggle navigation

        //$('#header-toggle, .fa-minus').hide();
        //$('.fa-plus').click(function () {
        //    $('#header-toggle, .fa-minus').show();
        //    $('.fa-plus').hide();
        //});
        //$('.fa-minus').click(function () {
        //    $('#header-toggle, .fa-minus').hide();
        //    $('.fa-plus').show();
        //});
    });

    $(document).ajaxError(function (xhr, props) {
        if (props.status === 401) {
            alert('ajax error');
            window.location.href = '@Url.Action("SignIn", "Account")';
        }
    });

    function downloadFiles() {
        debugger
        var ajax = new XMLHttpRequest();
        ajax.open("Post", '@Url.Action("Help","Home")', true);
        ajax.responseType = "blob";
        ajax.onreadystatechange = function () {
            if (this.readyState == 4) {
                debugger;
                var blob = new Blob([this.response], { type: "application/octet-stream" });
                var fileName = "FGHFile.zip";
                saveAs(blob, fileName);
            }
        };
        ajax.send(null);
    }



</script>

