<div class="row ml-5">
    <div class="col-md-8">
        <div class="row mb-3">
            Activation Code:<span class="ml-2">@ViewBag.FHnumber</span>
        </div>
        <div class="row mb-3">
            Activation Date: <span class="ml-2">@ViewBag.Activedate</span>
        </div>
        <div class="row">
            Account Expiration: <span class="ml-2">@ViewBag.ExpireDate</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row mb-3">
            <input type="button" id="btnDeactivateRegistration" class="btn btn-info" value="Deactivate" />
        </div>
        <div class="row mb-3">
            <input type="button" onclick="location.href='@Url.Action("ForgotPassword","Account",new { token = Request.QueryString["token"] })'" id="btnForgetPasswordRegistration" class="btn btn-info" value="Forgot Password" />
        </div>
        <div class="row">
            <input type="button" onclick="location.href='@Url.Action("StartMyFreeMonth","User",new { token = Request.QueryString["token"] })'" id="btnReactivate" class="btn btn-info" value="Reactivation" />
        </div>
    </div>
</div>
